@import "../../pages/DraftPage/DraftPage.scss";

.song-list {
    width: $content-width;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}