.draft-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    width: 80%;
}

.draft-component h1 {
    width: 100%;
    background-color: rgb(161, 77, 161);
    color: white;
    text-align: left;
    padding: 20px;
    font-weight: 600;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
}

.draft-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: flex-start;
}