@import "../../index.scss";

.about-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.about-content {
    font-size: $font-size-large-heading;
    font-weight: $font-weight-normal;
    margin-top: 180px;
}

.about-content span {
    font-weight: $font-weight-bold;
}